[smtp]
Client1 = client@example.com
Client2 = client2@example.com
Fake_in = fake-in@example.com
Real_out = real-out@example.com
Fake_out = fake-out@example.com
Temp = temp@example.com
Subject = subject = "Nessus Verifier Relay Testing"
Message = message = "This is a open relay test email sent from {} to {} on {}:{}".format(ip, port, sender, receiver)